# =========================
# R Session & History
# =========================
.Rhistory
.Rapp.history
.RData
.RDataTmp
.Ruserdata

# =========================
# RStudio
# =========================
.Rproj.user/
*.Rproj

# =========================
# R Markdown / Quarto
# =========================
*_cache/
/cache/
*.utf8.md
*.knit.md
/.quarto/

# =========================
# Credentials & Environment
# =========================
.Renviron
.httr-oauth
rsconnect/
*.json       
.secrets/ 

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# Data & Assets
# =========================
*.rda
*.rds
*.csv

# =========================
# Ignored Folders
# =========================

## old main branch folders
projects/*

## in progress folders
code-samples/*
